:root {
    --bg-light-primary: rgb(248, 248, 248);
    --bg-light-weak: rgb(228, 226, 226);
    --bg-light-secondary: rgb(243, 91, 210);
    --bg-light-tertiary: rgb(255, 109, 223);
    --bg-light-active: rgb(226, 56, 189);
    --light-primary-text: rgb(44, 44, 44);
    --light-secondary-text: rgb(71, 71, 71);

    --bg-dark-primary: rgb(6, 6, 26);
    --bg-dark-secondary: rgb(32, 32, 54);
    --bg-dark-tertiary: rgb(19, 19, 36);
    --bg-purple: rgb(93, 46, 155);


    --dark-primary-text: rgb(255, 255, 255);
    --dark-secondary-text: rgb(206, 206, 206);

    --border-transparent: hsl(0, 0%, 87%);
    --border-radius: .6em;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-color: var(--bg-light-active);
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    height: 100vh;
    width: 100vw;

    font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;

    background-color: var(--bg-light-primary);
}

aside {
    padding: 20px 0;
}

aside section {
    padding: 0 25px;
}

#profile img {
    border-radius: var(--border-radius);
    ;
}

#profile {
    display: flex;
    margin-bottom: 15px;
}

#profile #user-info #username {
    color: var(--light-primary-text);
}

#profile div * {
    display: block;
}

aside article *,
#profile #user-info a {
    color: var(--light-primary-text);
    color: var(--light-secondary-text);
}

#profile #user-info a {
    font-size: 0.9em;
}

#profile img {
    width: 40px;
    margin-right: 15px;
}

.dispose {
    position: absolute;
    top: 0;
    left: -999px;
}

.show {
    display: block;
}

#menu {
    transition: all 1s;
}

#search-bar {
    width: 100%;
    display: block;
    border-radius: var(--border-radius);
    padding: 8px;
    border: 1px solid var(--border-transparent);
    background-color: var(--bg-transparent);
}

#menu-toggler input {
    display: none;
}

#menu-toggler label {
    color: white;
    display: inline-block;
    padding: 10px;
    background-color: var(--bg-transparent);
}

#aside-top {
    padding-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border-transparent);
}


/* navigation menu */
#menu-list {
    padding-bottom: 30px;
}


.aside-section-title {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 10px;
}

aside article {
    margin-top: 30px;
}

#menu-list ul li,
#menu-list ul a {
    display: block;
    border-radius: var(--border-radius);
    line-height: 30px;
    text-indent: 20px;
    /* padding: 2px 0; */
}

#menu-list ul a:hover {
    color: var(--dark-primary-text);
    background: linear-gradient(90deg, var(--bg-light-secondary), transparent);
}

#menu-list ul a {
    text-transform: capitalize;
}

.aside-section-title,
#menu-list ul a {
    font-size: 12px;
}



/* aside footer */
aside-footer {
    margin: 30px 0;
}

#aside-footer article {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-transparent);
    background-color: var(--bg-light-weak);
    padding: 2px;
}

#aside-footer .active label {
    color: var(--dark-primary-text);
    background: linear-gradient(90deg, var(--bg-light-active), transparent);

}

#aside-footer .radio-group label {
    border-radius: .5em;
    display: block;
    text-indent: 15px;
    line-height: 35px;
    font-size: .8em;
}

#aside-footer .radio-group input {
    display: none;
}