@media (min-width: 992px) {

    #menu-toggler {
        display: none;
    }

    #aside {
        display: block;
    }

    aside {
        top:0px;
        padding-top: 0px;
        box-shadow: none;
        width: 25%;
        max-width: 280px;
        float: left;
    }


    main {
        float: right;
        width: 80%;
        padding: 20px;
        border-left: 1px solid var(--border-transparent);
    }

   

    

}