header {
    border-bottom: 2px solid var(--border-transparent);
    z-index: 9;
    position: relative;
    background-color: var(--bg-light-primary);
}

aside {
    background-color: var(--bg-light-primary);
    position: relative;
    top:-30px;
    float: none;
    left: 0;
    padding-bottom: 50px;
    z-index: 2;
    width: 75%;
    height: 100vh;
    box-shadow: 10px 0px 50px rgba(0, 0, 0, 0.411);

    overflow-y: scroll;
}

aside::-webkit-scrollbar {
    display: none;
}

#menu-toggler label {
    /* z-index: 9999; */
    display: block;
    color: var(--light-primary-text);
}


.card {
    width: 30%;
    padding: 15px;
    border-radius: var(--border-radius);
    border: 2px solid var(--border-transparent);

}